body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Hide slide divs by default */
#slides > div {
    display: none;
}

/* Show only the first slide by default */
#slides > div#slide1 {
    display: block;
}
