body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

.container {
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.pageBtn {
    margin: 5px;
}

.pageBtn.selected {
    background-color: #333;
}

#slides > div {
    display: none;
}

#slides > div#slide1 {
    display: block;
}

.slide-description {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

#scatterPlotContainer svg {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chartContainer svg {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.legend {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #333;
}

.legendItem {
    cursor: pointer;
}

.legendItem.active {
    font-weight: bold;
}

.legendItem:hover {
    opacity: 0.7;
}

.tooltip {
    position: absolute;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.tooltipScatter {
    background-color: #333; /* Background color for slide 2 tooltip */
}

.tooltipPie {
    background-color: #007BFF; /* Background color for slide 3 tooltip */
}

/* Additional styling for the tooltip text */
.tooltip div {
    margin-bottom: 4px;
}

.tooltip strong {
    font-weight: bold;
}

/* Center the main text and pagination buttons */
#mainText, .pagination {
    text-align: center;
}

/* Style for slide headers */
h2 {
    color: #007BFF;
}

/* Add some padding to the top of the slides for better spacing */
#slides > div {
    padding-top: 20px;
}

/* Add some margin to the bottom of the slides for better spacing */
#slides > div {
    margin-bottom: 40px;
}
